body {
    background-color: #f5f5d5;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/static/img/body.jpg);
}

a {
    color: #556677;
}

a:hover {
    text-decoration: none;
}

a:hover {
    color: #4e86fe;
}

.margin-tb-1 {
    margin: 1rem 0;
}

.margin-tb-2 {
    margin: 2rem 0
}

.margin-tb-5 {
    margin: 5rem 0
}

ul {
    list-style: none;
    padding-left: 0.5rem;
}

.no-padding-left {
    padding-left: 0;
}

.search-form {
    margin-top: 0.5rem;
}

.input-form input, textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.red-text {
    color: red;
}

.errorlist {
    color: #d44950;
}

.comment {
    border-bottom: 1px dashed #d3d3d3;
    padding-bottom: 0.5rem;
}

.font-size-8 {
    font-size: 0.8rem;
}

.font-size-10 {
    font-size: 1rem;
}
