<!DOCTYPE html>
<html>
<head>
  <title>Ten的网络博客</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <style>

  </style>
</head>
<body>
<header class="container">
  <div class="row margin-tb-2">
    <div class="col-md-8 col-sm-7 col-xs-4">
      <h1><a href="#">Ten老师的网络博客</a></h1>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-8">
      <div>
        <a href="#">注册</a> | <a href="#">登录</a>
      </div>
      <div class="search-form">
        <form role="search" action="#">
          <input type="search" placeholder="请输入关键字" required>
          <input type="submit" value="搜索">
        </form>
      </div>
    </div>
  </div>
  <hr/>
</header>
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <article>
        <h3>Django 博客开发教程</h3>
        <div>
          <span>2018-10-10  <a href="">阅读(5)</a>  <a href="">评论(4)</a></span>
        </div>
        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
          开发的技巧...
        </p>
        <div>
          <a href="#" class="more-link">继续阅读</a>
        </div>
      </article>
      <nav class="margin-tb-1 text-center">
        <a href="#">上一页</a><strong> 2 </strong><a href="#">下一页</a>
      </nav>
    </main>
    <aside class="col-md-4">
      <div>
        <h5>最新文章</h5>
        <ul>
          <li>
            <a href="#">Django 博客开发入门教程：前言</a>
          </li>
          <li>
            <a href="#">Django 博客使用 Markdown 自动生成文章目录</a>
          </li>
          <li>
            <a href="#">部署 Django 博客</a>
          </li>
        </ul>
      </div>
      <div>
        <h5>归档</h5>
        <ul>
          <li>
            <a href="#">2017 年 5 月</a>
          </li>
          <li>
            <a href="#">2017 年 4 月</a>
          </li>
          <li>
            <a href="#">2017 年 3 月</a>
          </li>
        </ul>
      </div>

      <div>
        <h5>分类</h5>
        <ul>
          <li>
            <a href="#">Django 博客教程(13)</a>
          </li>
          <li>
            <a href="#">Python 教程(11)</a>
          </li>
          <li>
            <a href="#">Django 用户认证(8)</a>
          </li>
        </ul>
      </div>
      <div>
        <h5>标签云</h5>
        <ul>
          <li>
            <a href="#">Django</a>
          </li>
          <li>
            <a href="#">Python</a>
          </li>
          <li>
            <a href="#">Java</a>
          </li>
          <li>
            <a href="#">笔记</a>
          </li>
          <li>
            <a href="#">文档</a>
          </li>
        </ul>
      </div>
      <div>
        <a href="">RSS订阅</a>
      </div>
    </aside>
  </div>
</div>
<footer class="container">
  <div class="row">
    <div class="col-md-12 text-center margin-tb-1">
      <a href="https://www.dongnaoedu.com/"> &copy 2018 dongnaoedu.com</a>
    </div>
  </div>
</footer>
</body>
</html>